@model BackEnd.Models.EventoCompletoViewModel

@{
    ViewData["Title"] = "Detalles del Evento";
}
@section Styles {
    <link rel="stylesheet" href="~/css/EventoCompleto.css" asp-append-version="true"/>
}

<main>
    <h1>@Model.Evento.Nombre</h1>
    <img src="/Imagenes/@(Model.Evento.ImagenUrl ?? "default.jpg")" alt="@Model.Evento.Nombre" />
    <p>Descripcion: @Model.Evento.Descripcion</p>
    <p>Fecha: @Model.Evento.Fecha.ToShortDateString()</p>
    <p>Ubicación: @Model.Evento.Ubicacion</p> 

    <section>
        <h2>Detalles del Organizador</h2>
        <p>Nombre: @Model.Estudiante.Nombre</p>
        <p>Email: @Model.Estudiante.Correo</p>
        <!-- Agrega más atributos del organizador según sea necesario -->
        <button class="boton">Lista de Participantes</button>
    </section> 
    <section>
        <form asp-controller="EventoCompleto" asp-action="Inscribirse" method="post">
            <input type="hidden" name="idEvento" value="@Model.Evento.idEvento" />
            <button class="boton" type="submit">Inscribirse</button>
        </form> 
        <button class="boton">Cancelar Inscripción</button>
    </section>
</main>
<script src="~/js/EventoCompleto.js"></script>

<div id="participantsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Lista de Participantes</h2>
            @foreach (var participante in Model.Estudiantes)
            {
                <div class="participante">
                    <p class="participante-name">@participante.Nombre </p>
                    <p class="participante-lastname">@participante.Apellido</p>
                    <img class="participante-image" src="/Imagenes/@(participante.ImagenUrl ?? "default.jpg")" />
                </div>
            }
    </div>
</div>


