@model BackEnd.Models.EventoCompletoViewModel

@{
    ViewData["Title"] = "Detalles del Evento";
}
@section Styles {
    <link rel="stylesheet" href="~/css/EventoCompleto.css" asp-append-version="true"/>
}

<main>
    <h1 class="titulo">@Model.Evento.Nombre</h1>
    <img src="/Imagenes/@(Model.Evento.ImagenUrl ?? "default.jpg")" alt="@Model.Evento.Nombre" />
    <div class="descripcion-container">
        <p class="descripcion" >Descripcion: </p>
        <p class="data" >@Model.Evento.Descripcion</p>
    </div>
    <div class="descripcion-container">
        <p class="descripcion" >Fecha: </p>
        <p class="data" >@Model.Evento.Fecha.ToShortDateString()</p>
    </div>
    <div class="descripcion-container">
        <p class="descripcion" >Ubicación: </p>
        <p class="data" >@Model.Evento.Ubicacion</p>
    </div>
    <section>
        <h2 class="titulo" >Detalles del Organizador</h2>
        <div class="descripcion-container">
            <p class="descripcion" >Nombre: </p>
            <p class="data" >@Model.Estudiante.Nombre</p>
        </div>
        <div class="descripcion-container">
            <p class="descripcion" >Email: </p>
            <p class="data" >@Model.Estudiante.Correo</p>
        </div>
        <!-- Agrega más atributos del organizador según sea necesario -->
        <button class="boton">Lista de Participantes</button>
    </section> 
    <section>
        <form asp-controller="EventoCompleto" asp-action="Inscribirse" method="post">
            <input type="hidden" name="idEvento" value="@Model.Evento.idEvento" />
            <button class="boton" type="submit">Inscribirse</button>
            @if (TempData["ErrorMessage"] != null)
            {
                <p style="color: red; font-size: 12px;">@TempData["ErrorMessage"]</p>
            }
        </form>
        <form asp-controller="EventoCompleto" asp-action="Desinscribirse" method="post"> 
            <input type="hidden" name="idEvento" value="@Model.Evento.idEvento">
            <button class="boton">Cancelar Inscripción</button>
        </form>
    </section>
</main>
<script src="~/js/EventoCompleto.js"></script>

<div id="participantsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Lista de Participantes</h2>
            @foreach (var participante in Model.Estudiantes)
            {
                <div class="participante">
                    <p class="participante-name">@participante.Nombre </p>
                    <p class="participante-lastname">@participante.Apellido</p>
                    <img class="participante-image" src="/Imagenes/@(participante.ImagenUrl ?? "default.jpg")" />
                </div>
            }
    </div>
</div>

