@model IEnumerable<BackEnd.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}

@{
    string ClassName = Model == null || !Model.Any() ? "main-sin-eventos" : "main-evento";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Evento.css" asp-append-version="true" />
}

<aside class="aside-evento">
    <div class="aside-content">
        <h1>Filtrar</h1>
        <form class="div-input-busqueda" asp-controller="Evento" asp-action="BuscarEventos" method="post">
            <input class="buscar-input" name="titulo" type="search" placeholder="Buscar evento">
            <label for="titulo">Buscar</label>
        </form>
        @if (TempData["Mensaje"] != null)
        {
            <p class="mensaje-error">@TempData["Mensaje"]</p>
        }
        @if(TempData["MensajeBusqueda"] != null)
        {
            <p class="mensaje-error">@TempData["MensajeBusqueda"]</p>
        }
    </div>
    <div class="border-aside"></div>
</aside>

<main class="@ClassName">
    @if (Model == null || !Model.Any())
    {
        <p class="sinEventos">No hay eventos disponibles.</p>
    }
    else
    {
        foreach (var evento in Model)
        {
            var fotoPath = "/Imagenes/" + (evento.ImagenUrl ?? "default.jpg");
            <div class="event-content">
                <div class="image-container">
                    <img class="image-event" src="@fotoPath" alt="@evento.Nombre" />
                </div>
                <div class="description-event">
                    <a class="titulo-evento" asp-controller="EventoCompleto" asp-action="EventoCompleto" asp-route-id="@evento.idEvento">
                        @evento.Nombre
                    </a>
                    <p class="descripcion">@evento.Descripcion</p>
                    <div class="div-eliminar">
                        <p class="fecha-evento">@evento.Fecha.ToShortDateString()</p>
                        @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == evento.idEstudiante.ToString() || User.FindFirst(ClaimTypes.Email)?.Value == "admin@gmail.com")
                        {
                            <form asp-controller="Evento" asp-action="EliminarEvento" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este evento?');">
                                <input type="hidden" name="idEvento" value="@evento.idEvento" />
                                <button type="submit" class="boton boton-eliminar">Eliminar</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    }
</main>

<script src="../js/Evento.js"></script>
