@model BackEnd.Models.Estudiante

@{
    ViewData["Title"] = "Perfil";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true" />
}


      <main>
        <section class="perfil-section">
          <section class="perfil-card">
            <h1 class="username">@Model.Username</h1>
            <img class="image-perfil" src="">
            <div class="info-personal">
                <div class="nombre-info">
                  <p>@Model.Correo</p>
                  <p>@Model.Nombre  @Model.Apellido</p>
                </div>
                <div class="curso">
                  <h1>@Model.Año - @Model.Division</h1>
                </div>
                <div class="butons-perfil">
                  <i class='bx bx-cog'></i>
                  <div>
                    <a class="entrar" href="Login.html">Sign in</a>
                    <a class="salir" href="Login.html">Sign out</a>
                  </div>
                </div>
            </div>
          </section>
        </section>
        <section class="historial-evento">

        </section>
      </main>
    <script src="../js/Perfil.js"></script>