@model BackEnd.Models.ModificarViewModel;
@{
    var fotoPath = "/Imagenes/" + (Model.estudiante.ImageUrl ?? "default.jpg");
    
}

@section Styles {
    <link rel="stylesheet" href="~/css/ModificarPerfil.css" asp-append-version="true" />
}
<main>
  <section class="modificar-card">
    <img class="modificar-imagen" src="@fotoPath">
    <form asp-action="GuardarCambios" asp-controller="Modificar" method="post" class="informacion-modificar">
        <div class="contenedor-informacion">
                <p class="Nombre">Nombre:</p>
                <input type="text" name="estudiante.Nombre" class="Nombre-input" value="@Model.estudiante.Nombre">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
              </div>
              <div class="contenedor-informacion">
                <p class="Apellido">Apellido: </p>
                <input type="text" name="estudiante.Apellido" class="Apellido-input" value="@Model.estudiante.Apellido">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
              </div>
              <div class="contenedor-informacion">
                <p class="Username">Username:</p> 
                <input type="text" name="estudiante.Username" class="Apellido-input" value="@Model.estudiante.Username">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi    bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                  </svg>
              </div>
              <div class="contenedor-informacion">
                <p class="Username">Correo:</p> 
                <input type="text" name="estudiante.Correo" class="Apellido-input" value="@Model.estudiante.Correo">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi    bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                  </svg>
              </div>
          </div>
           <button class="boton guardar-boton" type="submit">Guardar Cambios</button>
    </form>
    <form class="boton-modificar" asp-action="EditarFoto" asp-controller="Modificar" method="post" enctype="multipart/form-data">
      <label for="NuevaFotoPerfil" class="boton editar-boton">Editar foto</label>
      <input id="NuevaFotoPerfil" class="boton-file" type="file" name="NuevaFotoPerfil">
      <button class="boton guardar-boton" name="action" value="GuardarCambios" type="submit">Guardar Cambios</button>
    </form>

  </section>
</main>
<script src="../js/ModificarPerfil.js"></script>